<!DOCTYPE HTML>
<html>
    <head>
        <title>Mock LED Matrix Display</title>
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
        <script src="static/index.js"></script>
        <link rel="stylesheet" href="static/index.css"></link>
    </head>
    <body>
        <div class="container">
            <div class="item">
                <img id="panel-preview" src=""/>
            <div>
            <div class="item">
                <p id="brightness-num"></p>
                <input type="range" min="0" max="100" value="50" class="slider" id="brightness-slider">
            </div>
	    <button type="button" id="display-toggle">Toggle Display</button>
        </div>
    </body>
</html>
