<!DOCTYPE HTML>
<html>
    <head>
        <title>Mock LED Matrix Display</title>
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
        <script src="static/index.js"></script>
        <link rel="stylesheet" href="static/index.css"></link>
    </head>
    <body>
        <div class="container">
            <div class="item-column">
                <img id="panel-preview" src=""/>
            <div>
            <div class="item-column">
                <div class="item-child">
                    <p id="brightness-num"></p>
                </div>
                <div class="item-child">
                    <input type="range" step="10" min="0" max="100" value="50" class="slider" id="brightness-slider">
                </div>
            </div>
            <div class="item-row">
                <div class="item-child">
                    <button class="item-child" type="button" id="display-toggle">Toggle Display</button>
                </div>
                <div class="item-child">
                    <label class="theme-label" for="theme-select">Theme Select</label>
                    <select class="theme-select" name="theme-select" id="theme-select">
                        <option value="sakura">Sakura</option>
                        <option value="cat">Cat</option>
                        <option value="dm">Dm</option>
                        <option value="flowers">Flowers</option>
                        <option value="ponyo">Ponyo</option>
                        <option value="hk1">Hollow Knight 1</option>
                        <option value="hk2">Hollow Knight 2</option>
                    </select>
                </div>
            </div>
        </div>
    </body>
</html>
